<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Check out my dev</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
    <nav class="navbar navbar-default backg">
      <div class="container">
        <div class="navbar-header">
          <p class="navbar-brand">DAILY JOURNAL</p>
        </div>
          <ul class="nav d-flex align-items-center justify-content-end ">
            <!-- 6 -->
            <li class="item" id="home"><a href="/">HOME</a></li>
            <li class="item" id="about"><a href="/about">ABOUT US</a></li>
            <li class="item" id="contact"><a href="/contact">CONTACT US</a></li>
          </ul>
      </div>
    </nav>

    <body>
      <div class="container">
